<h2 class="lato" style="margin-bottom: 2%;">Register for DevCongress MPower API Hackathon</h2>
<h4 class="lato">
	<p>Saturday, 5th October, 2013</p>
	<p>8am - 10pm</p>
	<p>iSpace Foundation, Osu</p>
	<br><br>
</h4>


<h3>Join Us Hack!</h3>
<%= form_for @hacker do |f| %>
	<% if @hacker.errors.any? %>
	<div class="errors">
		<ul>
			<% @hacker.errors.full_messages do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="col-lg-4">
	
		<div class="control-group">
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon input-small">
						<i class="icon-user"></i>
					</span>
					<%= f.text_field :name,
				 		id: 'hacker-name',
 						placeholder: 'How do you wanna be called?',
 						autofocus: true,
 						class: 'form-control input-small'
 					%>
				</div>
				<br>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon input-small">
						<i class="icon-mail"></i>
					</span>
					<%= f.email_field :email,
						id: 'hacker-email',
						placeholder: 'Email address',
						class: 'form-control input-small'
					%>
				</div>
				<br>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon input-small">
						<i class="icon-mail"></i>
					</span>
					<%= f.text_field :github,
						id: 'hacker-github-username',
						placeholder: 'on Github? Your username',
						class: 'form-control input-small'
					%>
				</div>
				<br>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon input-small">
						<i class="icon-mail"></i>
					</span>
					<%= f.text_field :twitter,
						id: 'hacker-twitter-handle',
						placeholder: 'on Twitter? Your handle',
						class: 'form-control input-small'
					%>
				</div>
				<br>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon input-small">
						<i class="icon-mail"></i>
					</span>
					<%= f.text_field :language,
						id: 'hacker-pet-language',
						placeholder: 'Your pet programming language',
						class: 'form-control input-small'
					%>
				</div>
				<br>
			</div>
		</div>

		<div class="control-group">
			<br>
			<div class="input-group form-last">
				<%= f.submit 'Let\'s do this!',
					type: :submit,
					:class => 'btn btn-success'
				%>
			</div>
			<br><br>
		</div>

		<p>Got questions? Ask us on <%= link_to 'Twitter', 'http://twitter.com/DevCongress'%> or <%= link_to 'Facebook', 'http://facebook.com/DevCongress' %></p>
	</div>

<% end %>
