<div class="container">
	<h3 class="lato">Update your startup's information</h3>

	<%= form_for @startup do |f| %>
		<div class="col-lg-4">
	
			<div class="control-group">
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_field :name,
							id: 'startup-name',
							placeholder: 'e.g. Open University of West Africa'
							:class => 'form-control input-small',
						%>			
					</div>
					<br>
				</div>
			</div>


			<div class="control-group">
				<%= f.label 'Startup Email' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-envelope"></i>
						</span>
						<%= f.email_field :email,
							id: 'startup-email',
							placeholder: 'e.g. ouwa@ouwa.org'
							:class => 'form-control input-small',
						%>
					</div>
				</div>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'Password' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-lock"></i>
						</span>
						<%= f.password_field :password,
							:class => 'form-control input-small',
							id: 'startup-password'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Startup CEO' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_field :ceo,
							id: 'startup-ceo',
							:class => 'form-control input-small',
							placeholder: 'e.g. John Roberts'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Location' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-map-marker"></i>
						</span>
						<%= f.text_field :location,
							id: 'startup-address',
							:class => 'form-control input-small',
							placeholder: 'e.g. Hub-Accra, Osu, Accra'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Startup Founding Year' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-calendar"></i>
						</span>
						<%= f.number_field :founding_year,
							id: 'startup-founding-year',
							:class => 'form-control input-small',
							placeholder: 'e.g. 2012'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Website' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-globe"></i>
						</span>
						<%= f.text_field :website,
							id: 'startup-website',
							:class => 'form-control input-small',
							placeholder: 'e.g. http://www.ouwa.org'
						%>
					</div>
					<span class="help-block">Prefix URL with 'http://'</span>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Twitter Handle' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-twitter"></i>
						</span>
						<%= f.text_field :twitter,
							id: 'startup-twitter',
							:class => 'form-control input-small',
							placeholder: 'e.g. OUWAghana'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Facebook' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-facebook"></i>
						</span>
						<%= f.text_field :facebook,
							id: 'startup-facebook',
							:class => 'form-control input-small',
							placeholder: 'e.g. ouwa'
						%>
					</div>
				</div>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'Github' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-github"></i>
						</span>
						<%= f.text_field :github,
							id: 'startup-github',
							:class => 'form-control input-small',
							placeholder: 'e.g. ouwa'
						%>
					</div>
				</div>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'Main Product' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-suitcase"></i>
						</span>
						<%= f.text_field :product,
							id: 'startup-product',
							:class => 'form-control input-small',
							placeholder: 'e.g. OUWA Learning Platform'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Product tagline' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-comments-alt"></i>
						</span>
						<%= f.text_field :product_tagline,
							id: 'startup-product_tagline',
							:class => 'form-control input-small',
							placeholder: 'e.g. Education for all, beginning in Africa'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'CEO Bio' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_area :ceo_bio,
							id: 'startup-ceo_bio',
							:class => 'form-control input-small',
							placeholder: 'e.g. John is a cool kid',
							rows: 5
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Technologies you use in development' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-desktop"></i>
						</span>
						<%= f.text_area :technologies,
							id: 'startup-technologies',
							:class => 'form-control input-small',
							placeholder: 'e.g. Django, Python, AWS, Node.js, Angular'
						%>
					</div>
				</div>
				<br>
			</div>


		</div>
	<% end %>

</div>