<div class="container">
	<h2 class="lato" style="margin-bottom: 2%;"><%= @startup.name %></h2>
	<p class="announcement">Note: We'd represent your startup with this information in our Startup Directory</p>

	<%= form_for @startup do |f| %>
		<div class="col-lg-4">
	
			<div class="control-group">
				<%= f.label :name %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_field :name,
							id: 'startup-name',
							placeholder: 'e.g. Open University of West Africa',
							class: 'form-control input-small'
						%>			
					</div>
					<br>
				</div>
			</div>

			<div class="control-group">
				<%= f.file_field :logo %>
				<span class="help-block">Please add your logo</span>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'What\'s your main contact email?' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-envelope"></i>
						</span>
						<%= f.email_field :email,
							id: 'startup-email',
							placeholder: 'e.g. ouwa@ouwa.org',
							class: 'form-control input-small'
						%>
					</div>
				</div>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'Password' %><small class="gray"> (would be used for authentication)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-lock"></i>
						</span>
						<%= f.password_field :password,
							class: 'form-control input-small',
							id: 'startup-password'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<label for="startup[ceo]">CEO <small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_field :ceo,
							id: 'startup-ceo',
							class: 'form-control input-small',
							placeholder: 'e.g. John Roberts'
						%>
					</div>
				</div>
				</label>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'What\'s the address to your main office?' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-map-marker"></i>
						</span>
						<%= f.text_field :location,
							id: 'startup-address',
							class: 'form-control input-small',
							placeholder: 'e.g. Hub-Accra, Osu, Accra'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'In which year were you founded?' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-calendar"></i>
						</span>
						<%= f.number_field :founding_year,
							id: 'startup-founding-year',
							class: 'form-control input-small',
							placeholder: 'e.g. 2012',
							:min => '1990'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Your website' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-globe"></i>
						</span>
						<%= f.text_field :website,
							id: 'startup-website',
							class: 'form-control input-small',
							placeholder: 'e.g. http://www.ouwa.org'
						%>
					</div>
					<span class="help-block">Prefix URL with 'http://'</span>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Twitter' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-twitter"></i>
						</span>
						<%= f.text_field :twitter,
							id: 'startup-twitter',
							class: 'form-control input-small',
							placeholder: 'e.g. OUWAghana'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Facebook' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-facebook"></i>
						</span>
						<%= f.text_field :facebook,
							id: 'startup-facebook',
							class: 'form-control input-small',
							placeholder: 'e.g. ouwa'
						%>
					</div>
				</div>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'Github organization name (in case you have one)' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-github"></i>
						</span>
						<%= f.text_field :github,
							id: 'startup-github',
							class: 'form-control input-small',
							placeholder: 'e.g. ouwa'
						%>
					</div>
				</div>
				<br>
			</div>


			<div class="control-group">
				<%= f.label 'What\'s your flagship product?' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-suitcase"></i>
						</span>
						<%= f.text_field :product,
							id: 'startup-product',
							class: 'form-control input-small',
							placeholder: 'e.g. OUWA Learning Platform'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<label for="startup[product_tagline]">... and it's tagline</label>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-comments-alt"></i>
						</span>
						<%= f.text_field :product_tagline,
							id: 'startup-product_tagline',
							class: 'form-control input-small',
							placeholder: 'e.g. Education for all, beginning in Africa'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<label for="startup[ceo_bio]">A little something about your CEO</label><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_area :ceo_bio,
							id: 'startup-ceo_bio',
							class: 'form-control input-small',
							placeholder: 'e.g. John is a cool kid',
							rows: 5
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Technologies you use in development' %><small class="gray"></small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-desktop"></i>
						</span>
						<%= f.text_area :technologies,
							id: 'startup-technologies',
							class: 'form-control input-small',
							placeholder: 'e.g. Django, Python, AWS, Node.js, Angular'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<br>
				<div class="input-group form-last">
					<%= f.submit 'Update profile',
						type: :submit,
						:class => 'btn btn-success'
					%>
				</div>
			</div>
		</div>
	<% end %>

</div>