<div class="container">
	<h2 class="lato">Register for DevCongress 2013</h2>

	<%= form_for(@attendee) do |f| %>
		<% if @attendee.errors.any? %>
			<div id="error-explanation">
				<div class="alert alert-danger alert-block open-sans">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="open-sans"><%= pluralize @attendee.errors.count, 'error' %> prohibited your registration from being accepted.</h4>
					<ul>
					<% @attendee.errors.full_messages.each do |msg| %>
						<li class="error-message"><%= msg %></li>
					<% end %>
				</ul>
				</div>
			</div>
		<% end %>

		<div class="col-lg-4">
			<div class="control-group">
				<%= f.label :name %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_field :name, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :email %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-envelope"></i>
						</span>
						<%= f.text_field :email, type: :email, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>	
		
			<div class="control-group">
				<%= f.label :website %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-globe"></i>
						</span>
						<%= f.url_field :website, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :github %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-github"></i>
						</span>
						<%= f.text_field :github, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :linkedin %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-linkedin"></i>
						</span>
						<%= f.text_field :linkedin, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :twitter %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-twitter"></i>
						</span>
						<%= f.text_field :twitter, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :interests %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-thumbs-up"></i>
						</span>
						<%= f.text_field :interests, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :specialty %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-star"></i>
						</span>
						<%= f.text_field :specialty, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label :expectation %><br>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-magic"></i>
						</span>
						<%= f.text_field :expectation, :class => 'form-control input-small' %>					
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<br>
				<div class="input-group form-last">
						<%= f.submit 'I am attending DevCongress so Sign me up!', type: :submit, :class => 'btn btn-success' %>
				</div>
			</div>

		</div>

	<% end %>
	
</div>