<% provide :title, 'Agenda for DevCongress 2013' %>
<div class="container" style="margin-top: 5%">
	<h4 style="font-weight: 200;">
		<ul class="agenda">
			<li>Welcome Address and Keynote. <span class="time">10 mins</span></li>
			<li><strong>1st Talk (chosen from list of submitted titles)</strong>. <span class="time">20 mins</span> <small>(Wanna speak? <%= link_to 'Click here to capture this spot', submit_title_path %>)</small></li>
			<li>Expert Talk on Software Opportunities in Agriculture in Ghana (speaker is from <a href="http://www.esoko.com">Esoko Limited.</a>) <span class="time">30 mins</span></li>
			<li><strong>2nd Talk (also chosen from list of submitted titles)</strong>. <span class="time">20 mins</span> <small>(Wanna speak? <%= link_to 'Click here to capture this spot', submit_title_path %>)</small></li>
			<li>Expert Talk on Software Opportunities on Health in Ghana (speaker is from <a href="http://www.grameenfoundation.org/">Grameen Foundation</a>) <span class="time">30 mins</span></li>
			<li><strong>3rd Talk (again from the titles list)</strong>. <span class="time">20 mins</span> <small>(Wanna speak? <%= link_to 'Click here to capture this spot', submit_title_path %>)</small></li>
			<li>Panel Discussion on <i>Electronic and Mobile Payments</i> in Ghana <span class="time">60 mins</span>
				<ul>
					<li>What is the current situation? Where do we stand?</li>
					<li>What work is being carried out on mobile payments by the telcos?</li>
					<li>How do developers have to use it? Through telco-agnostic free APIs or proprietory APIs?</li>
					<li>The Future
						<ul>
							<li>Will they remain or be replaced?</li>
							<li>Will private businesses enter this domain?</li>
						</ul>
					</li>
				</ul>
		 	</li>		
			<li>Lunch Break <span class="time">60 mins</span></li>
			<li>Exhibition for Startups. Mostly on their technology stack (programming languages, frameworks, etc)  and workflow tools) <span class="time">45 mins</span></li>
			<li><strong>4th Talk (same rule here)</strong>. <span class="time">20 mins</span> <small>(Wanna speak? <%= link_to 'Click here to capture this spot', submit_title_path %>)</small></li>
			<li>Bio break and making friends and connections (a.k.a Networking) <span class="time">30 mins</span></li>
			<li>Workshops (runs concurrently in 3 different rooms): <span class="time">45 minutes</span>
				<ul>
					<li>Version Control using Git - by <strong>Daniel Abakah</strong>, Chief Technology Officer of <a href="http://freelancepro.me">Freelance Pro</a>.</li>
					<li>Practicing the Agile Methodologies in Software Development</li>
					<li>Massively improving Web Application performance using Chrome DevTools - by <strong>Yaw</strong>, member of <a href="http://www.ouwa.org">OUWA Tech Team</a>.</span></li>
				</ul>
			</li>
			<li><strong>5th Talk (and here too)</strong>. <span class="time">20 mins</span> <small>(Wanna speak? <%= link_to 'Click here to capture this spot', submit_title_path %>)</small></li>
			<li class="form-last">The Way Forward & Closing remarks <span class="time">20 mins</span></li>
		</ul>
	</h4>

</div>

