<% provide :title, 'Agenda for DevCongress 2013' %>
<div class="container" style="margin-top: 5%">
	<h4 style="font-weight: 200;">
		<ul class="agenda">
			<li>Welcome Address and Keynote. <span class="time">10.00 am</span></li>
			<li><strong>1st Talk (chosen from list of <%= link_to 'submitted titles', titles_path %>)</strong>. <span class="time">10:10 am</span></li>
			<li>Improving Agriculture: The Role of Technology and Software (speaker is from <a href="http://www.esoko.com">Esoko Limited.</a>) <span class="time">10:30 am</span></li>
			<li>Bio break <span class="time">11.00 am</span></li>
			<li><strong>2nd Talk (also chosen from list of <%= link_to 'submitted titles', titles_path %>)</strong>. <span class="time">11:05 am</span></li>
			<li>Health in Ghana: How Technology Should Improve It (speaker is from <a href="http://claimsync.com">ClaimSync Ltd.</a>) <span class="time">11:25 am</span></li>
			<li>Bio break <span class="time">11:55 am</span></li>
			<li>Panel Discussion on <i>Electronic and Mobile Payments</i> in Ghana: <span class="time">12:00 pm</span>
				<ul>
					<li>What is the current situation? Where do we stand?</li>
					<li>What work is being carried out on mobile payments by the telcos?</li>
					<li>How do developers have to use it? Through telco-agnostic free APIs or proprietory APIs?</li>
					<li>The Future
						<ul>
							<li>Will mobile payments remain or they will be replaced?</li>
							<li>Will private businesses enter the mobile payments business?</li>
						</ul>
					</li>
				</ul>
		 	</li>		
			<li>Lunch Break <span class="time">1:00 pm</span></li>
			<li><strong>3rd Talk (here too, from the <%= link_to 'received titles', titles_path %>)</strong>. <span class="time">1:40 pm</span></li>
			<li><strong>4th Talk (again from the <%= link_to 'titles list', titles_path %>)</strong>. <span class="time">2:00 pm</span></li>
			<li>Bio break and making friends and connections (a.k.a Networking) <span class="time">2:20 pm</span></li>
			<li>Workshops (runs concurrently in 3 different rooms): <span class="time">2:50 pm</span>
				<ul>
					<li>Version Control using Git - by <strong>Nikunj Handa</strong>, Technology Fellow at the <a href="http://freelancepro.me">Meltwater Entrepreneurial School of Technology</a>.</li>
					<li>Practicing the Agile Methodologies in Software Development - by <strong>Rhys Moyna</strong>, Technical Fellow at the <a href="http://www.meltwater.org/incubator">MEST Incubator</a>.</li>
					<li>Massively improving Web Application performance using Chrome DevTools - by <strong>Yaw</strong>, member of <a href="http://www.ouwa.org">OUWA Tech Team</a>.</span></li>
				</ul>
			</li>
			<li><strong>5th Talk (chosen from <%= link_to 'submitted titles', titles_path %>)</strong>. <span class="time">3:20 pm</span></li>
			<li class="form-last">The Way Forward & Closing remarks <span class="time">3:40 pm</span></li>
		</ul>
	</h4>

</div>

