<div class="container content">
    <!-- <div id="wrapper">
        <div id="carousel">
            <%= image_tag('building1.jpg') %>
            <%= image_tag('building2.jpg') %>
            <%= image_tag('building3.jpg') %>
        </div>
        <%= link_to ' ', '#', :'id' => 'prev', :'title' => 'Show previous' %>
        <%= link_to ' ', '#', :'id' => 'next', :'title' => 'Show next' %>
    </div> -->
    <div class="sect" id="vimeo-hd"><iframe width="800" height="480" src="//www.youtube.com/embed/6QQe7wvqJ2k" frameborder="0" allowfullscreen></iframe></div>
    <div class="sect" id="about">
        <div class="title col-md-offset-1">ABOUT</div>
        <div class="summary">DevCongress is a budding developers movement aimed at becoming the most vibrant across the software developers space in Ghana and Africa. The objectives are very simple.</div>
        <div class="goal-list">
            <div class="row">
                <div class="col-md-3 goal-div">
                    <div class="number">01</div>
                    <div class="goal">
                        To build confidence among software developers.
                    </div>
                </div>
                <div class="col-md-3 goal-div">
                    <div class="number">02</div>
                    <div class="goal">
                        Expose developers to a rich array of resources.
                    </div>
                </div>
                <div class="col-md-3 goal-div">
                    <div class="number">03</div>
                    <div class="goal">
                        Contribute to open source projects that have great social and economic impact.
                    </div>
                </div>
                <div class="col-md-3 goal-div">
                    <div class="number">04</div>
                    <div class="goal">
                        Harness the combined talent and resources of the local tech community to create solutions to national problems.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sect" id="projects">
        <div class="title col-md-offset-1">PROJECTS &amp; EVENTS</div>
        <div class="row">
            <div class="col-md-4 event">
<!--                <div class="event-logo">EventLogo</div>
 -->                <div class="event-title blue">Developers' Conference</div>
                <div class="event-description">
                    DevCongress is a developer conference held twice each year. At this event, developers get to share their knowledge through talks. No level of expertise is required, just a passion to share.
                    <!-- <span class="small">
                        <%= link_to 'Read more...', '#', :class => 'read-more'%>
                    </span> -->
                </div>
            </div>
            <div class="col-md-4 event">
<!--                <div class="event-logo">EventLogo</div>
 -->                <div class="event-title blue">Hackathon</div>
                <div class="event-description">DevCongress hackathon is an event we run in collaboration with an organization. At these hackathons, we open up various APIs and open-source code for developers to build products within a 12-hour period.
                    <!-- <span class="small">
                        <%= link_to 'Read more...', '#', :class => 'read-more'%>
                    </span> -->
                </div>
            </div>
            <div class="col-md-4 event">
<!--                <div class="event-logo">EventLogo</div>
 -->                <div class="event-title blue">CodeCamp</div>
                <div class="event-description">We believe in training teens to learn programming to gain problem-solving skills while building products they can make money from. CodeCamp is the event for just that.
                    <!-- <span class="small">
                        <%= link_to 'Read more...', '#', :class => 'read-more'%>
                    </span> -->
                </div>
            </div>
        </div>
    </div>
    <div class="sect" id="partners" >
        <div class="title col-md-offset-1">PARTNERS &amp; SPONSORS</div>
        <p class="lato spon-text">We have received immense support from the following organisations on our previous events. We are grateful.</p>
        <div class="row partner-list">
            <div class="col-md-3 col-xs-3">
                <%= link_to image_tag('mest.png'), 'http://meltwater.org', :class => 'sponsor-image' %>
            </div>
            <div class="col-md-3 col-xs-3">
                <%= link_to image_tag('smsgh.png'), 'http://smsgh.com', :class => 'sponsor-image' %>
            </div>
        </div>
    </div>
    <div class="sect" id="contact">
        <div class="col-md-6">
            <div class="contact-border">
                <div class="title col-md-offset-2">CONTACT</div>
                <dl class="dl-horizontal">
                    <dt>twitter</dt>
                    <dd>@DevCongress</dd>
                    <dt>G+</dt>
                    <dd>gplus.to/devcongress</dd>
                    <dt>facebook</dt>
                    <dd>/DevCongress</dd>
                    <dt>YouTube</dt>
                    <dd>/DevCongress</dd>
                    <dt>GMail</dt>
                    <dd>devcongress@gmail.com</dd>
                </dl>
            </div>
        </div>
        <d2v class="col-md-6">
            <div class="team-border">
                <div class="title col-md-offset-2">TEAM</div>
                <div class="founders">
                    <dl class="dl-horizontal">
                        <!-- <dt>icon</dt> -->
                        <dd>
                            <span><a href="http://yawboakye.com">Yaw Boakye</a></span>
                            <p>Abstractionist. Rudely opinionated. I'm fond of philosophy and cats.</p>
                        </dd>
                        <!-- <dt>icon</dt> -->
                        <dd>
                            <span>Elorm Adjaho (<a href="http://twitter.com/elormadjaho">@elormadjaho</a>)</span>
                            <p>Bachelors in Fine Arts, Event Organiser, Writer, Visionary</p>
                        </dd>
                        <!-- <dt>icon</dt> -->
                        <dd>
                            <span>Claude Ayitey (<a href="http://twitter.com/mrayitey">@MrAyitey</a>)</span>
                            <p>Bachelors in Computer Science, Blogger, UI/UX, Social Media</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
