<div class="container content">
	<!-- <div id="wrapper">
		<div id="carousel">
			<%= image_tag('building1.jpg') %>
			<%= image_tag('building2.jpg') %>
			<%= image_tag('building3.jpg') %>
			<%= image_tag('building4.jpg') %>
			<%= image_tag('building5.jpg') %>
			<%= image_tag('building6.jpg') %>
		</div>
		<%= link_to ' ', '#', :'id' => 'prev', :'title' => 'Show previous' %>
		<%= link_to ' ', '#', :'id' => 'next', :'title' => 'Show next' %>
		<div id="pager"></div>
	</div> -->
	<div class="sect">
		<div id="owl-demo" class="owl-carousel owl-theme">
	
			<div class="item"><%= image_tag('building1.jpg') %></div>
			<div class="item"><%= image_tag('building2.jpg') %></div>
			<div class="item"><%= image_tag('building3.jpg') %></div>
	
		</div>
	</div>
	<div class="sect" id="about">
		<div class="title col-md-offset-1">ABOUT</div>
		<div class="summary">DevCongress is a budding developers movement aimed at becoming the most vibrant across the software developers space in Ghana and Africa. The objectives are very simple.</div>
		<div class="goal-list">
			<div class="row">
				<div class="col-md-3 goal-div">
					<div class="number">01</div>
					<div class="goal">
						To build confidence among software developers.
					</div>
				</div>
				<div class="col-md-3 goal-div">
					<div class="number">02</div>
					<div class="goal">
						Expose developers to a rich array of resources.
					</div>
				</div>
				<div class="col-md-3 goal-div">
					<div class="number">03</div>
					<div class="goal">
						Contribute to open source projects that have great social and economic impact.
					</div>
				</div>
				<div class="col-md-3 goal-div">
					<div class="number">04</div>
					<div class="goal">
						Harness the combined talent and resources of the local tech community to create solutions to national problems.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sect" id="projects">
		<div class="title col-md-offset-1">PROJECTS &amp; EVENTS</div>
		<div class="row">
			<div class="col-md-4 event">
				<div class="event-logo">EventLogo</div>
				<div class="event-title blue">Developers' Conference</div>
				<div class="event-description">
					DevCongress is a developer conference held twice each year. At this event, we allow developers to share their knowledge through talks. No level of expertise is required, just a passion to share.
					<!-- <span class="small">
						<%= link_to 'Read more...', '#', :class => 'read-more'%>
					</span> -->
				</div>
			</div>
			<div class="col-md-4 event">
				<div class="event-logo">EventLogo</div>
				<div class="event-title blue">Hackathon</div>
				<div class="event-description">DevCongress hackathon is an event we run in collaboration with an organization. At these hackathons, we open up various APIs and open-source code for developers to build products within a 12-hour period.
					<!-- <span class="small">
						<%= link_to 'Read more...', '#', :class => 'read-more'%>
					</span> -->
				</div>
			</div>
			<div class="col-md-4 event">
				<div class="event-logo">EventLogo</div>
				<div class="event-title blue">CodeCamp</div>
				<div class="event-description">We believe in training teens to learn programming to gain problem-solving skills while building products they can make money from. CodeCamp is the event for just that.
					<!-- <span class="small">
						<%= link_to 'Read more...', '#', :class => 'read-more'%>
					</span> -->
				</div>
			</div>
		</div>
	</div>
	<div class="sect" id="partners" >
		<div class="title col-md-offset-1">PARTNERS &amp; SPONSORS</div>
		<p class="lato spon-text">We have received immense support from the following organisations on our previous events. We are grateful.</p>
		<div class="row partner-list">
			<div class="col-md-3 col-xs-3">
				<%= link_to image_tag('mest.png'), 'http://meltwater.org', :class => 'sponsor-image' %>
			</div>
			<div class="col-md-3 col-xs-3">
				<%= link_to image_tag('smsgh.png'), 'http://smsgh.com', :class => 'sponsor-image' %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= link_to image_tag('blogh.png'), 'http://bloggingghana.org', :class => 'sponsor-image' %>
			</div>
			<div class="col-md-3 col-xs-3">
				<%= link_to image_tag('techyafrica.png'), 'http://techy-africa.com', :class => 'sponsor-image techyafrica' %>
			</div>
		</div>
	</div>
	<div class="sect" id="contact">
		<div class="col-md-6">
			<div class="contact-border">
				<div class="title col-md-offset-2">CONTACT</div>
				<dl class="dl-horizontal">
					<dt>twitter</dt>
					<dd>@DevCongress</dd>
					<dt>G+</dt>
					<dd>gplus.to/devcongress</dd>
					<dt>facebook</dt>
					<dd>/DevCongress</dd>
					<dt>YouTube</dt>
					<dd>/DevCongress</dd>
					<dt>GMail</dt>
					<dd>devcongress@gmail.com</dd>
				</dl>
			</div>
		</div>
		<d2v class="col-md-6">
			<div class="team-border">
				<div class="title col-md-offset-2">TEAM</div>
				<div class="founders">
					<dl class="dl-horizontal">
						<dt>icon</dt>
						<dd>
							<span>Yaw Boakye (@22bytes)</span>
							<p>Bachelors in Agric Eng. Programmer, Abstractionist</p>
						</dd>
						<dt>icon</dt>
						<dd>
							<span>Elorm Adjaho (@elormadjaho)</span>
							<p>Bachelors in Performing Arts, Event Orgnaniser, Writer, Visionary</p>
						</dd>
						<dt>icon</dt>
						<dd>
							<span>Claude Ayitey (@MrAyitey)</span>
							<p>Bachelors in Computer Science, Blogger, UI/UX, Social Media</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});
</script>