<div class="open-sans">
	<% unless @titles.empty? %>
		<ul>
			<% @titles.each do |ttl| %>
				<li class="f17 btm-border">
					<h2 class="submitted-title"><%= link_to ttl.title, ttl %></h2>
					<p style="font-family:georgia,serif;color:#f0548b;"><i><%= ttl.relevance %></i></p>
					<span class="submitted-title-extra br10">Submitted by <%= mail_to ttl.submitter_email, ttl.submitter_name %> <span class="time"><%= time_ago_in_words ttl.created_at %> ago</span>. <i><%= link_to (pluralize ttl.comments.count, 'comment'), "#{title_path(ttl)}#comments" %></i>
					</span>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
<h2 class="open-sans f17" style="margin-top:3%;padding:1%;border-radius:4px;background:rgba(200,10,40,.3);">
	All titles have been submitted now. Stay in touch for details on our next conference.
	<span class="appeal"><%= link_to 'Follow us on Twitter for the latest updates.', "http://twitter.com/DevCongress" %></span>
</h2>
<br>