<div class="container">
	<h2 class="lato">A talk on <i><%= @title.title %></i> <small>submitted/suggested by <%= mail_to @title.submitter_email, @title.submitter_name %></small></h2>

	<dl class="dl-horizontal">
		<dt>Submitted</dt>
		<dd><%= time_ago_in_words @title.created_at %> ago</dd>
		<dt>Difficulty level</dt>
		<dd><%= @title.difficulty_level %> / 5</dd>
		<dt>Why it is necessary</dt>
		<dd><%= simple_format @title.relevance %></dd>
	</dl>

	<h4><i><%= link_to (pluralize @title.comments.count, 'comment'), "#{@comments_path}#comments" %>. <small>Scroll to view comments</small></i></h4>
	<div class="span8">
		<%= render 'comments/form' %>
	</div>

	<div class="span8">
		<%= render 'comments/all_comments_for_this_title' %>
	</div>
</div>