<h2>A talk on <i><%= @title.title %></i> submitted/suggested by <%= mail_to @title.submitter_email, @title.submitter_name %></h2>
<p>Why this title is necessary: <%= @title.relevance %></p>
<p>Difficulty level: <%= @title.difficulty_level %></p>
<p>This title was submitted <%= time_ago_in_words @title.created_at %></p>

<p><i><%= pluralize @title.comments.count, 'comment' %>.</i></p>
<%= render 'comments/form' %>
<%= render 'comments/all_comments_for_this_title' %>