<% provide :title, 'Submit a title' %>
<div class="container">
	<h2 class="lato">Submit a title for DevCongress 2013 - Become a speaker!</h2>
	
	<%= form_for(@title) do |f| %>
		<% if @title.errors.any? %>
			<div id="error-explanation">
				<div class="alert alert-danger alert-block open-sans">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="open-sans">Oh, no! we found <%= pluralize @title.errors.count, 'error' %>. Let's try again. </h4>
					<ul>
						<% @title.errors.full_messages.each do |msg| %>
							<li class="error-message"><%= msg %></li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>


		<div class="col-lg-4">
			<div class="control-group">
				<%= f.label 'Nickname' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-user"></i>
						</span>
						<%= f.text_field :submitter_name,
							id: 'submitter-name',
							:class => 'form-control input-small',
							placeholder: 'Your nickname'
						%>				
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Email' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-envelope"></i>
						</span>
						<%= f.email_field :submitter_email,
							id: 'submitter-email',
							:class => 'form-control input-small',
							placeholder: 'Your email address'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Title of your talk' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-book"></i>
						</span>
						<%= f.text_field  :title,
							:class => 'form-control input-small',
							id: 'title',
							placeholder: 'What\'s the topic about?'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Its relevance' %><small class="gray"> (required)</small>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-signal"></i>
						</span>
						<%= f.text_area :relevance,
							:class => 'form-control input-small',
							id: 'relevance',
							rows: '5',
							placeholder: 'What\'s the relevance of this talk?'
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<%= f.label 'Difficulty level' %>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon input-small">
							<i class="icon-dashboard"></i>
						</span>
						<%= f.select(
								:difficulty_level, [
									['Very Basic', 1],
									['Beginner', 2],
									['Intermediate', 3],
									['A little advanced', 4],
									['Advanced', 5],
								],
								{},
								{:class => 'form-control input-small'}
							) 
						%>
					</div>
				</div>
				<br>
			</div>

			<div class="control-group">
				<br>
				<div class="input-group form-last">
						<%= f.submit 'Done, submit this title', type: :submit, :class => 'btn btn-success' %>
				</div>
			</div>

		</div>

	<% end %>

</div>