<div class="container">
	<p class="lato tagline">Submit a title for Dev Congress 2013 - Become a speaker!</p>
	<form class="formee grid-8-12">
		<% provide :title, 'Submit a title' %>
		<%= form_for(@title) do |f| %>

			<fieldset style="margin-: 0 auto;">
				<div class="grid-10-12">
					<p>
						<%= f.text_field  :submitter_name, 	id: 'submitter-name', 	placeholder: 'Your nickname' %>
					</p>
				</div>
				<div class="grid-10-12">
					<p>
						<%= f.email_field :submitter_email, 	id: 'submitter-email', 	placeholder: 'Your email address' %>
					</p>
				</div>
				<div class="grid-10-12">
					<p>
						<%= f.text_field  :title, 						id: 'title', 						placeholder: 'What\'s the topic about?' %>
					</p>
				</div>
				<div class="grid-10-12">
					<p>
						<%= f.text_area 	 :relevance, 				id: 'relevance', 				placeholder: 'What\'s the relevance of this talk?' %>
					</p>
				</div>
				
				<div class="grid-10-12">
					<p>
					<%= f.label 'Difficulty Level' %><br>
					<%= f.select :difficulty_level, [
					 ['Very Basic', 1],
					 ['Beginner', 2],
					 ['Intermediate', 3],
					 ['A little advanced', 4],
					 ['Advanced', 5]
					]%>
					</p>
				</div>

				<div class="grid-10-12">
					<p>
						<%= f.submit 'Done, submit this title' %>
					</p>					
				</div>
			</fieldset>
			
		<% end %>

	</form>

	
</div>