<% titlized = @title.title.split.map { |w| w[0].ord < 97 ? w : w.capitalize}.join ' ' %>
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h2>Confirmation of receipt of title <span style="font-style: italic; font-size: 1.1em;"><%= titlized %></span></h2>
  <p>
    We received your request to speak on <strong><%= link_to titlized, title_url(@title) %></strong> at <%= link_to 'DevCongress 2013 edition', root_url %> the <strong>most exciting developers event</strong> in Ghana ever!
  </p>
  <p>
    Your title has been delivered to the Title Selection Committee, a group of curated persons, for careful consideration. We'd get back to you with the decision they'd make concerning your submission.
  </p>
  <p>
    We're very excited that you are ready to dedicate time and effort to speak at the maiden edition of DevCongress. Your effort is very much appreciated :)
  </p>
  <p>
    The event is on <strong>24th August, 2013 at the Meltwater Entrepreneurial School of Technology</strong> (<%= link_to 'map', 'http://goo.gl/maps/ElhoK' %>) Please fill this form (http://goo.gl/0eWvSQ) and start working on your presentation material right away.
  </p>
  <p>
    Find out what we'll be doing <%= link_to 'here', agenda_url %>. 
  </p>
  <p>See you then.</p>
  <p>Claude & <%= link_to 'DevCongress', about_url %></p>
</body>
</html>