<div class="fauna f17">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>

	<a class="navbar-brand" href="/">DevCongress</a>

	<div class="nav-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav pull-right">
			<li class="navlinks conspicuous"><%= link_to 'REGISTER', register_path %></li>
			<li class="navlinks"><%= link_to 'Home', root_path %></li>
			<li class="navlinks"><%= link_to 'Titles', titles_path %></li>
			<li class="navlinks"><%= link_to 'About', about_path %></li>
			<li class="navlinks"><%= link_to 'Agenda', agenda_path %></li>
          	<li>
              	<%= link_to image_tag("facebook.png"), "http://facebook.com/devcongress" %>
          	</li>
			<li>
				<%= link_to image_tag("twitter.png"), "http://twitter.com/devcongress" %>
			</li>
			<li>
				<%= link_to image_tag("googleplus.png"), "http://gplus.to/devcongress" %>
			</li>
		</ul>
	</div><!-- /.nav-collapse -->
</div><!-- /.container -->