<div class="fauna f17">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>

	<a class="navbar-brand" href="/">DevCongress</a>

	<div class="nav-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav pull-right">
          	<li>
              	<%= link_to 'ABOUT', "#about" %>
          	</li>
			<li>
				<%= link_to 'PROJECTS', "#projects" %>
			</li>
			<li>
				<%= link_to 'SPONSORS', "#sponsors" %>
			</li>
			<li>
				<%= link_to 'CONTACT', "#contact" %>
			</li>
			<li>
				<%= link_to 'BLOG', "http://news.devcongress.com" %>
			</li>
		</ul>
	</div><!-- /.nav-collapse -->
</div><!-- /.container -->