<div class="navbar navbar-default">
	<div class="container">
		<div class="row">
			<div class="col-md-12 blue">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-header">
					<%= link_to image_tag('devcongress.png'), root_path , :class => 'navbar-brand' %>
					<!-- <a href="#" class="navbar-brand">
						<img src="http://2.bp.blogspot.com/-oHTHspr2NIc/UhylootTlRI/AAAAAAAAbV8/8IFaBuPq9xE/s1600/devcon2013.png" class="nav-logo sponsor-image" alt="">
					</a> -->
				</div>
				<div class="collapse navbar-responsive-collapse navbar-collapse">
					<ul class="nav pull-right navbar-nav">
						<li>
							<%= link_to 'ABOUT', "#about" %>
						</li>
						<li>
							<%= link_to 'PROJECTS', "#projects" %>
						</li>
						<li>
							<%= link_to 'SPONSORS', "#partners" %>
						</li>
						<li>
							<%= link_to 'CONTACT', "#contact" %>
						</li>
						<li>
							<%= link_to 'BLOG', "https://gharage.com" %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>