<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/scripts_and_styles' %>
</head>

<body>
	<div class="main">		
		
		<div class="navbar"><%= render 'layouts/navbar' %></div>
		<div class="logo"><%= link_to image_tag("devcon2013.png"), root_path %></div>
		<div class="tagline"><p>Tech Conference for Developers in Ghana</p></div>

		<div class="flash container">
			<% flash.each do |key, value| %>
				<div class="alert alert-success alert-block open-sans  <%= key %>" id="<%= value %>">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="open-sans"><%= value %></h4>
				</div>
			<% end %>
			
		</div>
		<%= yield %>
	</div>

	<%= render 'layouts/footer_scripts' %>
	<%= render 'layouts/footer' %>
</body>
</html>
