<!DOCTYPE html>
<html>
<head>
  <title><%= title yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<%= link_to 'Home', root_path %> | <%= link_to 'Agenda', agenda_path %> | <%= link_to 'Titles', titles_path %> | <%= link_to 'About', about_path %>
</nav>
<% flash.each do |key, value| %>
	<div class="alert <%= key %>" id="<%= value %>">
		<%= value %>
	</div>
<% end %>
<%= yield %>

</body>
<pre>
	<%= debug(:params) if Rails.env.development? %>
</pre>
</html>
