<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/scripts_and_styles' %>
</head>

<body>
    <div class="main">
        <div class="navbar navbar-fixed-top"><%= render 'layouts/navbar' %></div>
        <div class="flash container">
            <% flash.each do |key, value| %>
                <div class="alert alert-success alert-block open-sans  <%= key %>" id="<%= value %>">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="open-sans"><%= value %></h4>
                </div>
            <% end %>
        </div>

      <%= yield %>
    </div>

    <%= render 'layouts/footer_scripts' %>
<!--[if !(lte IE 8)]><!--><script type="text/javascript">(function(){var e=document.createElement('script');e.type='text/javascript';e.async=true;e.src=document.location.protocol+'//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(e,s);})();</script><!--<![endif]-->
</body>
</html>
