<!DOCTYPE html>
<html>
<head>
  <title><%= title yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

  <script type="text/javascript">
  	$('body').css('background-image', 'url('bg.png')');
  </script>

  <!-- start Dropifi -->
  <script type='text/javascript' src='https://s3.amazonaws.com/dropifi/js/widget/dropifi_widget.min.js'></script><script type='text/javascript'>document.renderDropifiWidget('1a37a1c9d42adc37f1c8c46fd07c22af-1365435502695');
  </script> <!-- end Dropifi -->
</head>

<body>
	<!-- nav bar begins here -->
	<div>
		<!-- nav bar begins here -->
		<ul class="nav social" role="navigation">
			<li class="navlink">
				<%= link_to 'Home', root_path %>
			</li>
			<li class="navlink">
				<%= link_to 'Titles', titles_path %>
			</li>
			<li class="navlink">
				<%= link_to 'About', about_path %>
			</li>
			<a>
			<li class="soc-btn">
				<%= link_to image_tag("facebook.png"), "http://facebook.com/devcongress" %>
			</li>
			<li class="soc-btn">
				<%= link_to image_tag("twitter.png"), "http://twitter.com/devcongress" %>
			</li>
			<li class="soc-btn">
				<%= link_to image_tag("googleplus.png"), "http://gplus.to/devcongress" %>
			</li>
			<li class="soc-btn">
				<%= link_to image_tag("youtube.png"), "http://youtube.com/devcongress" %>
			</li>
		</ul>
	</div>
	<!-- nav bar ends here-->

	<!--logo-->
	<div style="max-width:80%; margin: 0 auto; margin-top: -40px;">
<<<<<<< HEAD
		<%= link_to image_tag("devcon2013.png"), root_path %>s
=======
		<%= link_to image_tag("devcon2013.png"), "http://devcongress.com" %>
>>>>>>> changes to html and css
	</div>
	<!--logo-->

<% flash.each do |key, value| %>
	<div class="alert <%= key %>" id="<%= value %>">
		<%= value %>
	</div>
<% end %>
<%= yield %>

</body>
<!--
<pre>
	<%= debug(:params) if Rails.env.development? %>
</pre>
-->
</html>
