<!DOCTYPE html>
<html>
<head>
  <title>Devconf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
	<div class="alert <%= key %>" id="<%= value %>">
		<%= value %>
	</div>
<% end %>
<%= yield %>

</body>
<pre>
	<%= debug(:params) if Rails.env.development? %>
</pre>
</html>
